:root {
	--font-heading: 5rem;
	--logo-width: 30rem;
}
.menu-container {
	flex-grow: 1;
}
.menu-container,
.menu,
.menu-header,
.game-name {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu,
.game-name {
	flex-direction: column;
}

.menu,
.menu-container {
	position: relative;
}
.menu-container::before {
	content: " ";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #15803c7e;
	background: url("../../assets/images/space.jpg");
	opacity: 0.75;
	background-size: cover;
}
.menu-header h1 {
	font-family: "OnePiece", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-size: var(--font-heading);
	line-height: var(--font-heading);
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}

.menu .menu-header img#logo {
	width: var(--logo-width);
}

.menu p,
.menu button {
	font-weight: bold;
	font-size: 1.25rem;
}
.menu button {
	padding: 0.5rem 1.5rem;
	background-color: rgb(175, 114, 0);
	border: none;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 1px rgba(90, 90, 90, 0.325);
}
.menu button:hover {
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	:root {
		--font-heading: 3rem;
		--logo-width: 18rem;
	}
}

@media only screen and (min-width: 600px) {
	:root {
		--card-font: 1.125rem;
		--font-heading: 4rem;
		--logo-width: 24rem;
	}
}

@media only screen and (min-width: 768px) {
	:root {
		--font-heading: 5rem;
		--logo-width: 30rem;
	}
}
