.card {
  background-color: transparent;
  height: 14rem;
  border-radius: 10px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
}

.card-front {
  background-color: #075985;
  color: white;
  padding: 0.25em;
}
.card-front img {
  height: 10rem;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}
.card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-back img {
  width: 10rem;
}

.card .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .details span {
  font-size: 1.5rem;
  font-weight: 600;
}
