:root {
	--card-height: 10rem;
	--card-font: 1.375rem;
}

.card {
	background-color: transparent;
	height: var(--card-height);
	flex-basis: clamp(5.25rem, 20%, 10rem);
	width: 100%;
	border-radius: 10px;
	perspective: 1000px;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;
	box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.75);
	border-radius: 10px;
}

.card-inner.flip {
	transform: rotateY(180deg);
	box-shadow: -3px 3px 2px 2px #141414bf;
}

.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	border-radius: 10px;
}

.card-front {
	background-color: #075985;
	color: white;
	padding: 0.25em;
}
.card-front img {
	height: calc(var(--card-height) - var(--card-font) - 0.5rem);
	width: 100%;
	border-radius: 10px;
	object-fit: cover;
	object-position: top;
}
.card-back {
	background-color: black;
	color: white;
	transform: rotateY(180deg);
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-back img {
	width: 100%;
}

.card .details {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card .details span {
	font-size: var(--card-font);
	font-weight: 600;
}

.board {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.25rem;
}

.board-container {
	width: clamp(20rem, 100%, 36rem);
	margin: 0 auto;
}

.result-modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	height: 100svh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.result-modal .content {
	width: clamp(400px, 50%, 20em);
	flex-grow: 0;
	background-color: #075985;
	padding: 1rem;
	border-radius: 10px;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 5px 10px rgba(175, 114, 0, 0.625);
	animation: bounce 800ms ease-in-out;
	transform-origin: top;
}
.result-modal h1,
.result-modal p {
	margin: 0;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	:root {
		--card-font: 1rem;
	}
}

@media only screen and (min-width: 600px) {
	:root {
		--card-font: 1.125rem;
	}
}

@media only screen and (min-width: 768px) {
	:root {
		--card-font: 1.25rem;
	}
}

@keyframes bounce {
	0% {
		transform: scaleY(0);
	}
	70% {
		transform: scaleY(1.1);
	}
	100% {
		transform: scaleY(1);
	}
}
