:root {
	--card-height: 10rem;
}

.card {
	background-color: transparent;
	height: var(--card-height);
	flex-basis: clamp(5.25rem, 20%, 10rem);
	width: 100%;
	border-radius: 10px;
	perspective: 1000px;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;
	box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.75);
	border-radius: 10px;
}

.card-inner.flip {
	transform: rotateY(180deg);
	box-shadow: -3px 3px 2px 2px #141414bf;
}

.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	border-radius: 10px;
}

.card-front {
	background-color: #075985;
	color: white;
	padding: 0.25em;
}
.card-front img {
	height: calc(var(--card-height) - 2rem);
	width: 100%;
	border-radius: 10px;
	object-fit: cover;
	object-position: top;
}
.card-back {
	background-color: black;
	color: white;
	transform: rotateY(180deg);
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-back img {
	width: 100%;
}

.card .details {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card .details span {
	font-size: 1.5rem;
	font-weight: 600;
}

.board {
	display: flex;
	flex-flow: row wrap;
	gap: 0.25rem;
	justify-items: center;
	align-items: center;
	justify-content: center;
}

.board-container {
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
